/*
Logo color: #50d3d1

*/


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
	font-family:"FontsFree-Net-proxima_nova_reg-webfont";
	src: url(font/FontsFree-Net-proxima_nova_reg-webfont.ttf);
	}

@font-face {
	font-family:"FontsFree-Net-Proxima-Nova-Thin";
	src: url(font/FontsFree-Net-Proxima-Nova-Thin.otf);
	}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: none;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #50d3d1;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* ----- ICONS ----- */
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #50d3d1;
    font-size: 120%;
    margin-right: 10px;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
   
    text-decoration: none;
    padding-bottom: 1px;
}

a:hover,
a:active {
    color: #555;
   
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #50d3d1;
    border: 1px solid #50d3d1;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #50d3d1;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #46bfbd;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #46bfbd;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #46bfbd;
    color: #fff;
}


/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg3.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black { 
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: none;
    font-size: 90%;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}


/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}


/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

/* ----------------------------------------------- */
/* FEATURES */
/* ----------------------------------------------- */

.section-features .long-copy {
    margin-bottom: 30px;
}


/* ----------------------------------------------- */
/* CITIES */
/* ----------------------------------------------- */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}


/* ----------------------------------------------- */
/* TESTIMONIALS */
/* ----------------------------------------------- */

.section-testimonials {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/bg3.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/bg3.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
    display: inline;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    
}

cite img {
    height: 250px;
    border-radius: 50%;
    width: 230px;
    margin-right: 100px;
    vertical-align: middle;
    float: right;
}


/* ----------------------------------------------- */
/* SIGN UP */
/* ----------------------------------------------- */

.section-plans {
    background-color: #f4f4f4;
}



/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-linkedin:hover {
    color: #007bb5;
}


.ion-social-instagram:hover {
    color: #c32aa3;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}




/* ----------------------------------------------- */
/* Animations */
/* ----------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3
{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}

/* ----------------------------------------------- */
/* SKILLS */
/* ----------------------------------------------- */
::selection { background: #a4ecab; }
::-moz-selection { background: #a4ecab; }
::-webkit-selection { background: #a4ecab; }

::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc !important;
  font-style: italic;  
}

#SkillBox {
    font-weight: bold;
  font-size: 1.1em;
  color: #414141;
    width: 95%;
    height: auto;
    margin: 40px auto;
    //border: 1px solid #cdcdcd;
    padding: 10px;
    border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;  
}

.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
    
}
#Skill-HTML {
    width: 100%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #50d3d1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50d3d1), to(#4cc97c));
  background-image: -webkit-linear-gradient(left, ##50d3d1, #4cc97c);
  background-image: -moz-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -ms-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -o-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: linear-gradient(left, #50d3d1, #4cc97c);
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}#Skill-CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 90%;
    height: 50px;
    position: absolute;
    background-color: #50d3d1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50d3d1), to(#4cc97c));
  background-image: -webkit-linear-gradient(left, ##50d3d1, #4cc97c);
  background-image: -moz-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -ms-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -o-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: linear-gradient(left, #50d3d1, #4cc97c);
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 90%}
}#Skill-jQuery {
    animation: Animate-jQuery 5s;
    -webkit-animation: Animate-jQuery 5s;
    -moz-animation: Animate-jQuery 5s;
    -o-animation: Animate-jQuery 5s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #50d3d1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50d3d1), to(#4cc97c));
  background-image: -webkit-linear-gradient(left, ##50d3d1, #4cc97c);
  background-image: -moz-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -ms-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -o-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: linear-gradient(left, #50d3d1, #4cc97c);
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-webkit-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-moz-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 50%}
}#Skill-JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #50d3d1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50d3d1), to(#4cc97c));
  background-image: -webkit-linear-gradient(left, ##50d3d1, #4cc97c);
  background-image: -moz-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -ms-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -o-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: linear-gradient(left, #50d3d1, #4cc97c);
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 80%}
}#Skill-XML {
    animation: Animate-XML 4s;
    -webkit-animation: Animate-XML 4s;
    -moz-animation: Animate-XML 4s;
    -o-animation: Animate-XML 4s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #50d3d1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50d3d1), to(#4cc97c));
  background-image: -webkit-linear-gradient(left, ##50d3d1, #4cc97c);
  background-image: -moz-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -ms-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -o-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: linear-gradient(left, #50d3d1, #4cc97c);
}
@keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 30%}
}#Skill-C {
    animation: Animate-C 4s;
    -webkit-animation: Animate-C 4s;
    -moz-animation: Animate-C 4s;
    -o-animation: Animate-C 4s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #50d3d1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50d3d1), to(#4cc97c));
  background-image: -webkit-linear-gradient(left, ##50d3d1, #4cc97c);
  background-image: -moz-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -ms-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -o-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: linear-gradient(left, #50d3d1, #4cc97c);
}
@keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 70%}
}#Skill-JAVA {
    animation: Animate-JAVA 4s;
    -webkit-animation: Animate-JAVA 4s;
    -moz-animation: Animate-JAVA 4s;
    -o-animation: Animate-JAVA 4s;
    width: 65%;
    height: 50px;
    position: absolute;
    background-color: #50d3d1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50d3d1), to(#4cc97c));
  background-image: -webkit-linear-gradient(left, ##50d3d1, #4cc97c);
  background-image: -moz-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -ms-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -o-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: linear-gradient(left, #50d3d1, #4cc97c);
}
@keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-webkit-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-moz-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-o-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 65%}
}#Skill-PHP {
    animation: Animate-PHP 4s;
    -webkit-animation: Animate-PHP 4s;
    -moz-animation: Animate-PHP 4s;
    -o-animation: Animate-PHP 4s;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #50d3d1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50d3d1), to(#4cc97c));
  background-image: -webkit-linear-gradient(left, ##50d3d1, #4cc97c);
  background-image: -moz-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -ms-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -o-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: linear-gradient(left, #50d3d1, #4cc97c);
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 40%}
}#Skill-SQL {
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #50d3d1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50d3d1), to(#4cc97c));
  background-image: -webkit-linear-gradient(left, ##50d3d1, #4cc97c);
  background-image: -moz-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -ms-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: -o-linear-gradient(left, #50d3d1, #4cc97c);
  background-image: linear-gradient(left, #50d3d1, #4cc97c);
}
@keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-webkit-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-moz-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-o-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 60%}
}
@keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-webkit-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-moz-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-o-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}.Skill-Area {
    z-index: 1;
    float: left;
    //position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    //font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
